body{
    background-color: rgb(229, 252, 175);

    color: rgb(7, 3, 3);
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  margin-top: -10px;
}

h1{
  font-size: 75px;
}
p{
  font-size: 50px;
}

.container{
  margin-top: 10%;
  margin-bottom: 10%;
}
#title-box{
  background-color: rgba(170, 212, 53, 0.527);
  border: 6px outset yellowgreen;
  border-radius: 5px;
  padding-bottom: 8%;
  padding-top: 2%;
}
#trivia-title{
padding-bottom: 8%;
}



#start-box{
  background-color: springgreen;
  border: 5px solid blue;
}
#done-box:hover{
  background-color: springgreen;
  border: 5px solid blue;
}

.answers{
  font-size: 20px;
  padding-bottom: 8%;
  text-align: left; 
}
.question{
  font-size: 30px;
  text-align: left;
}
label{
  width: 150px;
  align-self: auto;
  text-align: left;
}
.radio{
  padding-right: 25px;
}
